.left{
    position: relative;
    width:50%;
    height: 20%;
}
.right{
    position: relative;
    left:10%;
    padding: 2%;
}
.img{
    height: 100%;
    width: 100%;
    float: left;
    border-radius:5px;
    

}
